.main{

    .main__hero{

        grid-template-columns: minmax(300px, 500px);
        justify-content: center;

        .main__hero__img{
            display: none;
        }
    }

    .main__dishes{

        .main__dishesGrid{
            grid-template-columns: repeat(auto-fit, minmax(75px, 120px));
        }
    }

    .main__menu{
        .main__menuGrid{
            grid-template-columns: repeat(auto-fit, 130px);
        }
    }
}